/* CONTENEDOR TABLAS */
#page.drawers .main-inner {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 1.5rem;
    min-width: 750px !important;
}

.table_certificate td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table_certificate {
    border: 3px inset #0b4791;
    padding: 2px;
    border-radius: 5px;
}

.legend_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 5px;
    padding: 1px;
}
.legend_box{
    min-width: 30px !important;
    min-height: 30px !important;
}
.area_row td {
    padding: 7px;
}

/* Ocultar competencias por defecto */
.competency {
    display: none;
}

/* Títulos clickeables */
.title_subarea {
    cursor: pointer;
}

.title_subarea {
    white-space: nowrap;
}

.certificate_container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que salten a la siguiente línea */
    gap: 10px;
    /* Espacio entre tablas */
}

.certificate_container table {
    flex: 1 1 auto;
    /* Que se ajusten según el espacio disponible */
    min-width: 300px;
    /* Tamaño mínimo para que salten */
}
/*modal certificate*/
.select_to_cohot_certf {
    margin: 0 auto;
    position: relative;
    display: block;
}
.container_btns {
    position: relative;
    display: table;
    padding: 13px;
    margin: 0 auto !important;
}
.container_btns .btn {
    margin: 10px;
}
.btn {
    margin: 10px;
}
h2.title-moda-cerf {
    text-align: center;
}

p.msj_cert {
    background: #f5d1848c;
    border-radius: 20px;
    padding: 5px;
    text-align:center;
}