
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#description_legend{
    display: none;
}
#legend_container {
    display: math !important;
    position: relative;
    margin: 0 auto;
    color: white;
    font-weight: 300;
}
.level-row:hover {
    background-color: black;
    color: white;
}
#Btn_seearsh_user {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer, auto;
}
#form_manage_user{
    margin: 10px;
}
#label_form_manage_user,#label_select_country{
    font-size: 1.2rem;
    font-weight: bold;
}
#menu_countries{
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 20%  ;
}
#menu_manage
{
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%  ;
}
.container_main {
    border-radius: 45px;
    background-image: url('../../templates/media/img/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    min-width: 280px;
}
.block_ideal_cstatus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container_children {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin: auto;
}

.container_circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    width: 300px;
}

.section_2 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.circles_1 {
    background-color: rgb(185, 185, 193);
    border: 1px solid black;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    align-content: center;
    color: black;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 1.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#block-region-content .card-body h5 {
    font-size: 1.6rem;
}

.cabecera {
    font-size: 1.2rem;
    text-align: center !important;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    color: white;
}

#cabecera_1 {
    text-align: center;
    font-size: 1.2rem !important;
}

#cabecera_6 {
    font-size: 1.3rem !important;
    margin-bottom: 25px;
    display: revert;
}

#cabecera_7 {
    font-size: 1.3rem !important;
    font-weight: bold;
    margin-bottom: 25px;
    display: revert;
}

.circles_1:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    background-color: #e0e0e0;
}

@media (max-width: 399px) {
    .container_main {
        flex-direction: column;
        width: 200px;
        height: 100%;
        display: block !important;
    }
    .container_circles {
        width: 300px;
    }

    .section_1 {
        justify-content: space-around;
    }

    .section_3 {
        justify-content: space-around;
    }

    .circles_1 {
        width: 80px;
        height: 80px;
        font-size: medium;
        line-height: 80px;
    }

    #cabecera_7 {
        margin-top: 35px;
        display: revert;
    }
    .Ethical {
        margin-top: 10%;
    }
    #menu_manage {
        width: 80%;
    }
    form#form_manage_user {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
 /*MODAL*/
/*Tabla*/
.tr_competency> td,th {
    border: solid 1px;
    position: relative;
    margin: 0 auto;
    display: revert;
}
.td_nivel {
    width: 7%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}
table {
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

thead {
	th {
		background-color: #55608f;
	}
}

tr:hover {background-color: #5b7992;}

.img_level{
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#all_competence_complete_img{
    width:40%;
    height:30%;
    margin: 0 auto;
    position: relative;
}
img.img_go_curse {
    margin: 0% 1.5% 1% 1%;
}

    .modal {
        display: none;
        position: fixed;
        z-index: 1111;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
        
    

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        text-decoration: none;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    a.lista_cursos {
    margin: 2%;
    position: relative;
    }
    #btn_close_modal{
        width: 15%;
        position: relative;
        margin: 0 auto;
        background: #3fb5dac2;
        border-radius: 20px;
        font-weight: 500;
    }
    #btn_close_modal:hover{
        background:#1b6e88c2;
        color:white;
    }

      