body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#legend_container {
    display: math !important;
    position: relative;
    margin: 0 auto;
    color: white;
    font-weight: 300;
}
.level-row:hover {
    background-color: black;
    color: white;
}
#Btn_seearsh_user {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer, auto;
}
#form_manage_user{
    margin: 10px;
}
#label_form_manage_user{
    font-size: 1.2rem;
    font-weight: bold;
}
#menu_manage
{
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.container_main {
    border-radius: 45px;
    background-image: url('../../templates/media/img/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    width: 100% !important;
    display: block !important;
    margin: 0 auto !important;
}

.container_children {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin: auto;
}

.container_circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    width: 300px;
}

.section_2 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.circles_1 {
    background-color: rgb(185, 185, 193);
    border: 1px solid black;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    align-content: center;
    color: black;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 1.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



#block-region-content .card-body h5 {
    font-size: 1.6rem;
}

.cabecera {
    font-size: 1.2rem;
    text-align: center !important;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    color: white;
}

#cabecera_1 {
    text-align: center;
    font-size: 1.2rem !important;
}

#cabecera_6 {
    font-size: 1.3rem !important;
    margin-bottom: 25px;
    display: revert;
}

#cabecera_7 {
    font-size: 1.3rem !important;
    font-weight: bold;
    margin-bottom: 25px;
    display: revert;
}

.circles_1:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    background-color: #e0e0e0;
}

@media (max-width: 399px) {
    .container_main {
        flex-direction: column;
        width: 200px;
        height: 100%;
        display: block !important;
    }
    .container_circles {
        width: 300px;
    }


    .section_1 {
        justify-content: space-around;
    }

    .section_3 {
        justify-content: space-around;
    }

    .circles_1 {
        width: 80px;
        height: 80px;
        font-size: medium;
        line-height: 80px;
    }

    #cabecera_7 {
        margin-top: 35px;
        display: revert;
    }
    .Ethical {
        margin-top: 10%;
    }
}

/*MODAL CIRCLE CENTER*/
/* Estilo para el modal */
.custom-modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1; /* Asegura que esté encima del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
}

/* Estilo para el contenido del modal */
.custom-modal-content {
    background-color: white;
    margin: 15% auto; /* Centramos el modal en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta el tamaño del modal */
    max-width: 500px;
}

/* Estilo para el botón de cierre */
.custom-modal-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.custom-modal-close:hover,
.custom-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

      