<!-- modal_courses.mustache -->
<script>
    var course={{{template_data}}};
    var img_help = document.getElementById('img_help_modal');

</script>

<div id="myModal" class="modal" style="display:none;">
    <div class="modal-content" id="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 class="title_modal"></h2>
        <table id="table_competency">
            <tr style='background:none;'>
                <th>{{#str}}competency_label,block_ideal_cstatus{{/str}}</th>
                <th>{{#str}}Complete,block_ideal_cstatus{{/str}}</th>
                <th class="td_nivel">{{#str}}Level,block_ideal_cstatus{{/str}}</th>
            </tr>
        </table>
    <button type="button" id="btn_close_modal" onclick="closeModal()">{{#str}}Close,block_ideal_cstatus{{/str}}</button>

    </div>
</div>

<style>
/*Tabla*/
.tr_competency> td,th {
    border: solid 1px;
    position: relative;
    margin: 0 auto;
    display: revert;
}
.td_nivel {
    width: 7%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}
table {
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

thead {
	th {
		background-color: #55608f;
	}
}

tr:hover {background-color: #5b7992;}

.img_level{
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#all_competence_complete_img{
    width:40%;
    height:30%;
    margin: 0 auto;
    position: relative;
}
img.img_go_curse {
    margin: 0% 1.5% 1% 1%;
}

    .modal {
        display: none;
        position: fixed;
        z-index: 1111;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
        
    

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        text-decoration: none;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    a.lista_cursos {
    margin: 2%;
    position: relative;
    }
    #btn_close_modal{
        width: 15%;
        position: relative;
        margin: 0 auto;
        background: #3fb5dac2;
        border-radius: 20px;
        font-weight: 500;
    }
    #btn_close_modal:hover{
        background:#1b6e88c2;
        color:white;
    }
</style>
