<!-- modal_courses.mustache -->
<script>
    var course={{{template_data}}};
    var img_help = document.getElementById('img_help_modal');
</script>

<div id="myModal" class="modal" style="display:none;">
    <div class="modal-content" id="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 class="title_modal"></h2>
        <table id="table_competency">
            <tr style='background:none;'>
                <th>{{#str}}competency_label,block_ideal_cstatus{{/str}}</th>
                <th>{{#str}}Complete,block_ideal_cstatus{{/str}}</th>
                <th class="td_nivel">{{#str}}Level,block_ideal_cstatus{{/str}}</th>
            </tr>
        </table>
        <canvas style="visibility: hidden;" id="confettiCanvas"></canvas>
        <script src="../blocks/ideal_cstatus/templates/modal_centro/confetti.js"></script>
        <button type="button" id="btn_close_modal" onclick="closeModal()">{{#str}}Close,block_ideal_cstatus{{/str}}</button>
    </div>
</div>

  <style>

/*canvas {
    z-index: 1;
    position: absolute;
    transform: translate(-11%, 37%);
}*/
#confettiCanvas {
    z-index: 1;
    position: absolute;
    transform: translate(68%, 140%);
    display: block;
    width: 40%;
    height: 45%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}
@media(width<450px){
#all_competence_complete_img{
    width:250px;
    height250px;
}

#confettiCanvas {
    z-index: 1;
    position: absolute;
    transform: translate(42%, 380%);
    width: 140px;
    height: 20%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}
#btn_close_modal {
    width: 23%;
    display: inline-flex;
}
}
  </style>