<!-- modal_courses.mustache -->
<script>
    var course = {{{template_data}}};
    var img_help = document.getElementById('img_help_modal');
    var modal_txt_title = `{{#str}}ProgresoAreasParrafo,block_ideal_cstatus{{/str}}`;
    var avanzar_txt = `{{#str}}Avanzar,block_ideal_cstatus{{/str}}`;
</script>

<div id="myModal" class="modal" style="display:none;">
    <div class="modal-content" id="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h5 id="title_modal_">{{#str}}ProgresoAreasParrafo,block_ideal_cstatus{{/str}}</h5>
        <h4 class="title_modal"></h4>

        <table id="table_competency">
            <tr style='background:none;'>
                <th>{{#str}}competency_label,block_ideal_cstatus{{/str}}</th>
                <th>{{#str}}Complete,block_ideal_cstatus{{/str}}</th>
                <th class="td_nivel">{{#str}}Level,block_ideal_cstatus{{/str}}</th>
            </tr>
        </table>
        <div id="all_complete">
            <canvas style="visibility: hidden;" id="confettiCanvas"></canvas>
        </div>
        <script src="../blocks/ideal_cstatus/templates/modal_centro/confetti.js"></script>
        <button type="button" id="btn_close_modal" onclick="closeModal()">{{#str}}Close,block_ideal_cstatus{{/str}}</button>
    </div>
</div>

<style>
    #confettiCanvas {
        z-index: 1;
        position: relative;
        display: inline-block;
        width: 22%;
        margin: 0 auto;
        padding-top: -10px;
        transform: translate(10%, 57%);
    }

    @media (max-width: 700px) {
        #confettiCanvas {
            position: relative;
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            padding-top: 5px;
            transform: translate(10%, 50%);
        }

        #btn_close_modal {
            width: auto;
            display: inline-flex;
        }
    }
</style>
