
    <div class="container_circles" id="container_DR">
    <h3 id="cabecera_2" class="cabecera"></h3>
    </div>
<script>
    const name_container_principal_2="container_DR";
    var name_container_padre_2={{{name_container_padre}}};
    var name_container_centro_2={{{name_container_centro}}};
    var texts_2 = {{{texts}}};
    var numberOfCircles_2= {{{numberOfCircles}}};
    var competencia_ok_for_user_2 = {{{competencia_ok_for_user}}};
    var ids_circles_cambio_color=[];
    var name_competencia_cambio_color_A_D_L=[];
    var cabeceras_2 = {{{cabeceras}}};
    var idnumbers={{{id_number_competences}}};
    var legend = {{{legend}}};
    var id_numbers_competencias_2= {{{id_numbers_competencias_db}}};
    var shornames_areas_competency_2= {{{shornames_areas_competency}}};
    var sub_areas_2= {{{sub_areas_competency}}};
</script>

<div class="container" id="container_list">
</div>