
    <div class="container_circles" id="container_EL">
    <h3 id="cabecera_5" class="cabecera"></h3>

    </div>
<script>
    const name_container_principal_5="container_EL";
    var name_container_padre_5={{{name_container_padre}}};
    var name_container_centro_5={{{name_container_centro}}};
    var texts_5 = {{{texts}}};
    var numberOfCircles_5 = {{{numberOfCircles}}};
    var competencia_ok_for_user_5 = {{{competencia_ok_for_user}}};
    var ids_circles_cambio_color=[];
    var name_competencia_cambio_color_A_D_L=[];
    var cabeceras_5 = {{{cabeceras}}};

   
</script>


