
    <div class="container_circles" id="container_SS">
    <h3 id="cabecera_6" class="cabecera"></h3>
    </div>
<script>
    const name_container_principal_6="container_SS";
    var name_container_padre_6={{{name_container_padre}}};
    var name_container_centro_6={{{name_container_centro}}};
    var texts_6 = {{{texts}}};
    var numberOfCircles_6 = {{{numberOfCircles}}};
    var competencia_ok_for_user_6 = {{{competencia_ok_for_user}}};
    var ids_circles_cambio_color=[];
    var name_competencia_cambio_color_A_D_L=[];
    var cabeceras_6 = {{{cabeceras}}};
</script>


