
    <div class="container_circles" id="container_MR">
        <h3 id="cabecera_8" class="cabecera"></h3>
    </div>
<script>
    const name_container_principal_8="container_MR";
    var name_container_padre_8={{{name_container_padre}}};
    var name_container_centro_8={{{name_container_centro}}};
    var texts_8 = {{{texts}}};
    var numberOfCircles_8 = {{{numberOfCircles}}};
    //console.log(numberOfCircles_8);

    var competencia_ok_for_user_8 = {{{competencia_ok_for_user}}};
    var ids_circles_cambio_color=[];
    var name_competencia_cambio_color_A_D_L=[];
    var cabeceras_8 = {{{cabeceras}}};
</script>


