<body>
<form method="post" id="form_manage_user">
    <label id="label_select_country" for="menu_countries">
        {{#str}} select_filter_country, block_ideal_cstatus {{/str}}
    </label>
    <select id="menu_countries">
            <option value="" disabled selected ></option>
    </select>
    <br>

    <label id="label_form_manage_user" for="menu_manage">{{#str}} select_user, block_ideal_cstatus {{/str}}</label>
    <select id="menu_manage" name="selected_user" disabled>
        <option value="">{{#str}} select_country_first, block_ideal_cstatus {{/str}} </option>
    </select>
    <button id="Btn_seearsh_user" type="submit" disabled>{{#str}} search, block_ideal_cstatus {{/str}}</button>
</form>

<script>
    const form_manage = document.getElementById('form_manage_user');
    var img_help = document.createElement('img');
    img_help.src = '{{{config.wwwroot}}}/blocks/ideal_cstatus/templates/media/img/help.png';
    img_help.style.width = '25px';
    img_help.style.height = '25px';
    img_help.style.margin = '0 auto';
    img_help.title = 'signo de interrogación iconos';
    img_help.alt = 'help icon';
    img_help.style.display = 'inline';
    img_help.style.cursor = 'pointer';
    img_help.style.position = 'relative';
    img_help.onmouseover = function() {
        var text_help = document.createElement('div');
        text_help.id = 'help_text';
        text_help.innerHTML = "{{#str}} help_manage_user, block_ideal_cstatus {{/str}}";
        text_help.style.position = 'relative';
        text_help.style.top = '0';
        text_help.style.left = '0';
        text_help.style.width = '100%';
        text_help.style.backgroundColor = 'rgba(255, 255, 255, 0.9)';
        text_help.style.zIndex = '1';
        text_help.style.padding = '10px';
        text_help.style.border = '1px solid black';
        text_help.style.borderRadius = '5px';
        text_help.style.overflow = 'auto';
        text_help.style.textAlign = 'center';
        form_manage.appendChild(text_help);
    };

    img_help.onmouseout = function() {
        var text_help = document.getElementById('help_text');
        if (text_help) {
            form_manage.removeChild(text_help);
        }
    };
    form_manage.appendChild(img_help);

    try {
        var search_user_ = {{{users_search}}};
        var search_country_ = {{{list_countries}}} || '[]';
        var all_users_str = "{{#str}} all_users, block_ideal_cstatus {{/str}}";
        var users_not_country_str = "{{#str}} users_not_country, block_ideal_cstatus {{/str}}";
        // Create the list of countries
        var json_country_list = JSON.parse(JSON.stringify(search_country_));
        var countrySelect = document.getElementById('menu_countries');

        json_country_list.forEach(function(country) {
            var option = document.createElement('option');
            option.text = country;
            option.value = country;
            option.className = "country_list";
            option.style.setProperty('background', 'red', 'important');
            countrySelect.appendChild(option);
        });

        countrySelect.addEventListener('change', function() {
            try {
                var selectedCountry = this.value;
                const userSelect = document.getElementById('menu_manage');
                userSelect.innerHTML = '<option value="">{{#str}} select_user, block_ideal_cstatus {{/str}}</option>'; // Reset user select
                userSelect.disabled = !selectedCountry;
                document.getElementById('Btn_seearsh_user').disabled = !selectedCountry;
                if (selectedCountry) {
                    var json_user_list = JSON.parse(JSON.stringify(search_user_));
                    json_user_list.forEach(function(user) {
                        if (user.country == selectedCountry.slice(0,2)) {
                            var option = document.createElement('option');
                            option.value = user.id;
                            option.text = user.fullname + " (" + user.email + ")";
                            option.className = "user_list";
                            userSelect.appendChild(option);
                        } else if (selectedCountry == all_users_str) {
                            var option = document.createElement('option');
                            option.value = user.id;
                            option.text = user.fullname + " (" + user.email + ")";
                            option.className = "user_list";
                            userSelect.appendChild(option);
                        } else if (selectedCountry == users_not_country_str) {
                            if (user.country == "") {
                                var option = document.createElement('option');
                                option.value = user.id;
                                option.text = user.fullname + " (" + user.email + ")";
                                option.className = "user_list";
                                userSelect.appendChild(option);
                            }
                        }
                    });
                }
            } catch (error) {
                console.error('Error processing user list:', error);
            }
        });
    } catch (error) {
        console.error('Error initializing script:', error);
    }
</script>
</body>
